.body{
  font-family: 'Lato';
}

/* Top Section */
#title{
  background-color: #222831;
}

.container-fluid{
  padding: 1% 7%;
}

.brand-img{
  border-radius: 10%;
}

.brand-h1{
  font-family: 'Yellowtail';
  font-weight: 500;
  font-size: 3rem;
  color: #e8e8e8;
  padding-left: 3%;
}

.nav-item{
  padding: 0 7px;
}

.nav-link{
  font-size: 1.6rem;
  color: #e8e8e8;
}

/* Caousel Section */

#carousel{
  background-color: #93abd3;
  text-align: center;
  padding: 5.5% 10%;
}

.xmas-offer{
  width: 747px;
  height: 551px;
}

.xmas-stickers{
  width: 747px;
  height: 551px;
}

.animal-students{
  width: 747px;
  height: 551px;
}

.carousel-inner{
  padding-bottom: 5%;
}
